*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 20px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
}
.logo h2{
    font-size: 45px;
font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

/* main style */
header{
    background-color:#FFF8F3 ;
    padding-top: 38px;
    background: url("../images/developer.png"), url("../images/header_bg.png") , #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width:71% ;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 17px;
    text-align: center;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
   text-align: center;
}
#Banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Banner .banner-content{
    max-width: 585px;
    max-height: 359px;
}

#Banner .banner-content h2{
  font-size: 45px;
  font-weight:600px;
  color: #474747;
  margin-bottom: 5px;
}
#Banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

#Banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom:  30px;
}

#Banner .banner-image img{
    max-width:  584px;
vertical-align: middle;
}